* {
  box-sizing: border-box;
}

body {
  font-family: Oswald;
  background-image: linear-gradient(327deg, #fff 0%, #cecece 100%);
}


/* ---------------- header start ---------------- */
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #be3144;
  color: white
}

.title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myName {
  padding: 5px;
  font-size: 1.3rem;
  width: 130px;
}

.titleName {
  font-size: 1.7rem;
}

.myLink {
  width: 130px;
  text-align: right;
  padding-right: 5px;
  font-size: 1.3rem;
}

.myLink>a {
  color: white;
  text-decoration: none;
}

.myLink>a:hover {
  color: black;
}

.key {
  width: 45px;
  height: 90%
}

/* ---------------- header end ---------------- */


/* ------------- mainPanel start -------------- */

.mainPanel {
  display: flex;
  justify-content: space-between;
  height: 100px;
  height: 60px;
}

.inputForm {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.inputSearch {
  width: 200px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 0px;
}

.basket {
  display: flex;
  align-items: center;
  position: relative;
}

.countItems {
  background-color: #be3144;
  width: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

.basketIMG {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.searchIMG {
  width: 25px;
  height: 25px;
  margin-left: 30px;
}

/* --------------- mainPanel end -------------- */

main {
  height: 1300px;
}

.ourProducts {
  text-align: center;
  margin: 0;
}

.tags {
  list-style: none;
  padding: 0;
  width: 160px;
  position: absolute;
  margin-left: 5px;
}

li {
  display: block;
  padding: 10px 5px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}

.active {
  background-color: #000;
  color: #fff;
}

.itemPhoto {
  width: 210px;
  height: 300px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: auto;
}

.collection {
  background-color: white;
  width: 250px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 5px 5px #868686;
}

.bottomItem {
  display: flex;
  justify-content: space-between;
}

/* ---------------- basket list start ---------------- */



/* ---------------- basket list start ---------------- */

.basketList {
  width: 1000px;
  height: 600px;
  background-color: rgb(252, 252, 252);
  position: absolute;
  top: 204px;
  left: 241px;
  border-radius: 10px;
}

.yourBasket {
  text-align: center;
}

.basketItem {
  display: flex;
  justify-content: space-between;
}

.basketItem>div {
  margin: 10px;
}

.itemIcon {
  width: 50px;
  height: 75px;
}

.basketTitles {
  text-align: center;
}

/* ---------------- footer start ---------------- */

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #303841;
  color: white;
  align-items: center;
  font-size: 1.3rem;
}

/* ---------------- footer end ---------------- */